.firstDiv {
  display: flex;
  justify-content: space-between;
}

.firstDiv > a {
  height: 50px;
  padding: 12px 3px 0 3px;
  color: #2b8a3e;
  border: 2px solid #2b8a3e;
  background-color: rgba(255, 0, 0, 0);
  font-weight: bold;
  border-radius: 6px;
  text-decoration: none;
}

.userTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #e4e4e4;
  text-align: left;
}

.userTable td {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  height: 50px;
}

.userTable > thead td {
  position: relative;
  height: 60px;
}

.userTable > thead td:not(:first-child):before {
  content: '|';
  position: absolute;
  left: -14px;
  color: #e4e4e4;
}

.page {
  text-align: right;
  border-right: 1px solid #e4e4e4;
  padding: 12px 12px 0;
  font-size: 0.8rem;
}

.sttBk,
.sttCi,
.sttCo {
  color: #2b8a3e;
  display: inline;
  padding: 7px 2px;
  border-radius: 7px;
}

.sttBk {
  background-color: #f6c56a;
}

.sttCi {
  background-color: #b2f6bd;
}

.sttCo {
  background-color: #d1c2fc;
}

.dete {
  width: 150px;
}

.dete > button {
  color: red;
  border: 1px solid red;
  height: 32px;
  border-radius: 7px;
  background-color: rgba(255, 0, 0, 0);
  cursor: pointer;
}

.edit > button {
  color: green;
  border: 1px solid green;
  height: 32px;
  border-radius: 7px;
  background-color: rgba(255, 0, 0, 0);
  cursor: pointer;
}
