.title {
  margin-bottom: 36px;
  color: #bbb9b9;
  font-size: 1.3rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 200px;
  padding: 16px;
}

.form input:not(.rooms > input) {
  margin-bottom: 16px;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid;
  outline: none;
}

.form textarea {
  margin-bottom: 16px;
  width: 100%;
  padding: 7px;
  outline: none;
  resize: vertical;
}

.rooms {
  grid-column: 1/3;
}

.rooms > textarea {
  height: 100px;
  scroll-behavior: auto;
}

.form > button {
  color: white;
  height: 40px;
  width: 100px;
  border: none;
  background-color: green;
}
